  <body ng-controller="RootCtrl">

    <ion-tabs class="tabs-icon-only tabs-positive">

      <ion-tab title="Home"
               icon-on="ion-ios7-filing"
               icon-off="ion-ios7-filing-outline"
               ng-controller="HomeCtrl">

        <ion-header-bar class="bar-positive">
          <h1 class="title">Services</h1>
          <div class="buttons">
           <button class="button button-icon icon ion-log-out" ng-click="logout()"></button>
         </div>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()">

          <ion-refresher></ion-refresher>
          <ion-list scroll="false" on-refresh="onRefresh()"
                    s-editing="isEditingItems"
                    animation="fade-out"
                    delete-icon="icon ion-minus-circled">
            <ion-item ng-repeat="item in items"
                      item="item"
                      buttons="item.buttons"
                      can-delete="true"
                      can-swipe="true"
                      on-delete="deleteItem(item)"
                      class="item" href="#/service/{{item.id}}" >
<!--               <img src="../img/venkman.jpg"></img> -->
              {{item.title}}
              <i class="{{item.icon}}"></i>
              {{item.description}}
              <button class="button button-positive">
                Connect ${{item.price}}
              </button>
            </a>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="About" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Interactions</h1>
        </header>
        <ion-content has-header="true">
          <h1>Interactions</h1>
        </ion-content>
      </ion-tab>

      <ion-tab title="Profile" icon-on="icon ion-ios7-person" icon-off="ion-ios7-person-outline" ng-controller="UserCtrl">
        <header class="bar bar-header bar-positive">
          <h1 class="title">User Profile</h1>
        </header>
        <ion-content has-header="true" >
          <h1>User Profile</h1>
          <br>
          <br>
          <br>
                <button class="button button-icon" ng-click="newTask()">What can you do?
        <i class="icon ion-compose"></i>
      </button>
        </ion-content>
      </ion-tab>

    </ion-tabs>

<script id="new-task.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What can you do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

    </ion-content>

  </div>

</script>

  </body>
