  <body ng-controller="RootCtrl">

    <ion-tabs class="tabs-icon-only">

      <ion-tab title="Home"
               icon-on="ion-ios7-filing"
               icon-off="ion-ios7-filing-outline"
               ng-controller="HomeCtrl">

        <ion-header-bar class="bar-positive header" style="background-color:#48C37D">
          <h1 class="title">Services</h1>
          <button class="button button-clear " ng-click="refresh()">
    <i class="icon ion-refresh"></i>
    </button>
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
      <button class="button" ng-click="doSomething()">
        I'm a button on the left of the navbar!
      </button>
    </ion-nav-buttons>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()">

          <ion-refresher></ion-refresher>
  <div class="contents feed"   ng-repeat="item in items"   item="item">
  <a href="/#/details/{{item.id}}">
		<div class="row container" ng-model="item">
			<div class="row-content">
				<div class="image"><img src="img/kyle.png"><div class="circle" >2</div></div>
				<div class="price pull-right">${{item.price}}</div>
				<div class="info">
					<div class="name">{{item.title}}</div>
					<div class="service">{{item.provider}}</div>
				</div>
			</div>
		</div>
  </a>
  </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="About" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline" style="background-color:#48C37D">
        <header class="bar bar-header bar-positive" style="background-color:#48C37D">
          <h1 class="title">Interactions</h1>
          <button class="button button-clear " ng-click="refresh()">
    <i class="icon ion-refresh"></i>
    </button>
        </header>

        <ion-content has-header="true">

        </ion-content>
      </ion-tab>

      <ion-tab title="Profile" icon-on="icon ion-ios7-person" icon-off="ion-ios7-person-outline" ng-controller="UserCtrl" >
      <ion-header-bar class="bar-positive header" style="background-color:#48C37D">
        <h1 class="title">Services</h1>
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button><button class="button button-clear " ng-click="newTask()">
<i class="icon ion-compose"></i>
</button>
        <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
      </ion-header-bar>
      <ion-content has-tabs="true" on-refresh="onRefresh()">
      <div class="bio">
        <div class="image"><img src="images/kenny.png"></div>
        <div class="summary">Franck is a college student who majoring in Business and wants to make the world a better place through entrepeneurship</div>
      </div>
      <div class="tabular">
        <div class="col-xs-6">I offer</div><div class="col-xs-6 active">I Need</div>
      </div>
     <ion-list scroll="false" on-refresh="onRefresh()"
               s-editing="isEditingItems"
               animation="fade-out"
               delete-icon="icon ion-minus-circled" class="services">
       <ion-item ng-repeat="item in items"
                 item="item"
                 class="item row" href="#/service/{{item.id}}" >
<!--               <img src="../img/venkman.jpg"></img> -->
         {{item.title}}
         <i class="{{item.icon}}"></i>
       </a>
       </ion-item>
     </ion-list>
    </ion-content>
  </ion-tab>

    </ion-tabs>

<script id="new-task.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">What can you do?</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title of what you can do" ng-model="task.title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Some details" ng-model="task.description">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Price</span>
          <input type="text" placeholder="Price" ng-model="task.price">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Tags</span>
          <input type="text" placeholder="Tags" ng-model="task.tags">
        </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Publish</button>
        </div>
      </form>
    </ion-content>

  </div>

</script>


<!--Add binding and place this inside the midddle view.-->
<script id="review.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">What did you think do?</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title" ng-model="review.title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Description" ng-model="review.description">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Rating</span>
          <input type="text" placeholder="Price" ng-model="review.stars">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="addReview()">
            Add Review
          </button>
      </form>
    </ion-content>
  </div>

</script>
