<ion-nav-bar class="bar-positive nav-title-slide-ios7" style="background-color:#48C37D">
     <ion-nav-back-button class="button-icon ion-arrow-left-c">
     </ion-nav-back-button>
   </ion-nav-bar>

   <ion-nav-view animation="slide-left-right"></ion-nav-view>

     <ion-view title="Register">
       <ion-content>
         <div class="list">
           <label class="item item-input">
             <span class="input-label">Full Name</span>
             <input type="text" ng-model="user.name">
           </label>
           <label class="item item-input">
             <span class="input-label">Email</span>
             <input type="text" ng-model="user.email">
           </label>
           <label class="item item-input">
             <span class="input-label">Bio</span>
             <input type="text" ng-model="user.bio">
           </label>
           <label class="item item-input">
             <span class="input-label">Password</span>
             <input type="password" ng-model="user.password">
           </label>
           <label class="item item-input">
             <span class="input-label">Confirm Password</span>
             <input type="password" ng-model="user.confirm">
           </label>
         </div>
         <div class="padding">
           <button class="button button-block " ng-click="login(user) "style="background-color:#48C37D; color: white;">
             Sign-In
           </button>
         </div>
       </ion-content>
     </ion-view>
