<ion-nav-bar class="bar-positive nav-title-slide-ios7">
  <div class="buttons">
    <button class="button" ng-click="Back()">Back</button>
  </div>
</ion-nav-bar>

   <ion-nav-view animation="slide-left-right"></ion-nav-view>

 <ion-view title="Add a Zap">
   <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="listing.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description" ng-model="listing.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="listing.title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Price</span>
        <input type="text" placeholder="Price" ng-model="listing.title">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="getPhoto()">
          Publish
        </button>
      </div>
    </div>
   </ion-content>
 </ion-view>
